.rc-full-width {
    width: 90%;
}

.rc-left {
    float: left;
    width: 100px;
}

.rc-channel {
    display: block;
    padding-left: 20px;
    font-size: 20px;
    color:black;
}

.rc-main {
    height: 100%
}

#id-div-chats {
    /*background: red;*/
    width:40%;
    height: 450px;
    overflow-y: auto;
    padding-top:25px;
    margin-left: 30%;
}

.chat-item{
    margin-bottom: 20px;
}

.rc-input {
    /*height: 200px;*/
    margin-left: 30%;
    width: 40%;
    text-align: center;
}

#id-div-channels {
    margin-right:20px;
}

.container{
    margin-top: 10px;
    margin-bottom: 50px;
}

.chat-item__avatar{
    float: left;
    margin-right:10px;
}

.my-content{
    margin-left:50px;
    padding:5px;
    border: 2px solid #666;
    border-radius: 3px;
    background: #666;
    color: #fff;
}
