
html,body{
    height:100%;
    overflow: hidden;
    /*background: url("/static/img/background.jpg");*/
    /*background: linear-gradient(0deg, #0b4182 1%, rgba(125, 60, 106, 0.76) 100%);*/
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.father{
    width: 25%;
    height: 25%;
    margin: 200px auto;
    position: relative;
}
.login-row{
    width:100%;
    height:100%;
    position: absolute;
}

.register-row{
    width:100%;
    height:100%;
    position: absolute;
}
.btn-all{
    width: 50%;
    margin:0 auto;
}
p{
    font-size: 12px;
}

.help-block{
    font-size: 14px;
}
