html{
    height:100%;
    overflow: hidden;
    background: url("http://okwc2urj8.bkt.clouddn.com/static/img/background.jpg");
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    min-width: 1024px;
}

body {
    background-color: transparent;
}

.container {
    width: 1024px;
    margin-top: 120px;
}

.login, .register{
    width: 310px;
}

.col-center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 1px 15px 20px;
    background: rgba(0, 0, 0, 0.15);
    color:white;
}

p{
    font-size: 12px;
    margin-top: -20px;
    color: red;
}