<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://okwc2urj8.bkt.clouddn.com/static/js/jquery.min.js"></script>
    <script src="http://okwc2urj8.bkt.clouddn.com/static/js/materialize.min.js"></script>
    <script src="http://okwc2urj8.bkt.clouddn.com/static/js/alertify.min.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="http://okwc2urj8.bkt.clouddn.com/static/js/api.js"></script>
    <script src="/static/js/user.js"></script>
    <link rel="stylesheet" href="http://okwc2urj8.bkt.clouddn.com/static/css/materialize.min.css">
    <link rel="stylesheet" href="http://okwc2urj8.bkt.clouddn.com/static/css/animate.min.css">
    <link rel="stylesheet" href="http://okwc2urj8.bkt.clouddn.com/static/css/alertify.min.css">
    <link rel="stylesheet" href="http://okwc2urj8.bkt.clouddn.com/static/css/login.css">
    <title>登录注册</title>
    <script>
    var bindEventTestLogin = function () {
    $('.test-btn').click(function () {
        var parent = $(this).parents('.login')
        var data = {
            username: 123456,
            password: 123456,

        };
        var response = function (r) {
            if (r.success) {
                successView(parent.parents('.container'))
                location.href = "/"
            } else {
                alertify.error(r.message)
                $('.login').addClass('animated shake')
            }
        };
        api.userLogin(data, response)
    })
    };
    $(document).ready(function () {
        bindEventTestLogin();
    });
    </script>
</head>
<body>
<div class="container">
<div class="row login-row">
    <div class="login z-depth-4 col-center-block">
        <div class="input-field">
            <input type="text" class="username validate" maxlength="16" length="16" required >
            <label for="username">用户名</label>
        </div>
        <div class="input-field">
            <input type="password" class="password validate" maxlength="16" length="16" required>
            <label for="password">密码</label>
        </div>
        <br>
        <div class="btn-all">
            <a style="display: block; margin-bottom: 15px;" class="disabled login-btn waves-effect waves-purple btn">登录</a>
            <a style="display: block; margin-bottom: 15px;background: rgb(0, 152, 236)" class="test-btn waves-effect waves-purple btn">测试号一键登录</a>
            <a style="display: block;" href="#signup" class="waves-effect waves-purple btn go-register">前往注册</a>
        </div>
    </div>
</div>

<div class="row register-row animated flipInY hide">
    <div class="register z-depth-3 col-center-block">
        <div class="input-field">
            <input type="text" class="username1" maxlength="16" length="16" required>
            <label for="username">用户名</label>
            <p></p>
        </div>
        <div class="input-field">
            <input type="password" class="password1" maxlength="16" length="16" required>
            <label for="password">密码</label>
            <p></p>
        </div>
        <br>
        <div class="btn-all">
            <a style="display: block; margin-bottom: 15px;" class="disabled register-btn waves-effect waves-purple btn">注册</a>
            <a style="display: block;" href="#signin" class="waves-effect waves-purple btn go-login">前往登录</a>
        </div>
    </div>
</div>
</div>
</body>
</html>
