{% extends "base.html" %}

{% block title %}个人中心{% endblock title %}

{% block head %}
    <script src="/static/js/profile.js"></script>
{% endblock head %}
{% block body %}
<div class="profile z-depth-3" style="min-width: 800px;background: white;padding: 40px 100px">
    {% if othuser.username == user.username %}
    <form style="margin-bottom: 10px" class="form-horizontal" action="{{ url_for('profile.upload') }}" method="post" enctype="multipart/form-data">
        <input class="form-control input" id="fileupload1" type="file" name="file">
        <input type="submit" value="上传" class="waves-effect waves-purple btn">
    </form><br>
    头像预览：
    <div>
        大：<img class="z-depth-1" style="width: 192px;height: 192px;" src="/static/avatar/{{ user.avatar }}">
        中：<img class="z-depth-1" style="width: 128px;height: 128px;" src="/static/avatar/{{ user.avatar }}">
        小：<img class="z-depth-1" style="width: 64px;height: 64px;" src="/static/avatar/{{ user.avatar }}">
    </div><br>
    <div class="input-field">
    <input type="text" length="16" class="password" name="password" value="{{ user.password }}">
    <label for="password">密码</label>
    </div><br>
    <div class="input-field">
    <input disabled type="text" name="email" value="{{ user.email }}">
    <label for="email">E-mail</label>
    </div><br>
    <div class="input-field">
    <input type="text" class="qq" name="qq" value="{{ user.qq }}"><br>
    <label for="qq">QQ</label>
    </div><br>
    <div class="input-field">
    <textarea class="materialize-textarea signature" name="signature" length="100">{{ user.signature }}</textarea>
    <label for="signature">个性签名</label>
    </div>
    <button id="update" class="waves-effect waves-purple btn">保存</button>

    {% else %}
    <div>
    用户名: <span style="color:mediumvioletred;font-size: 20px">{{ othuser.username }}</span>
    <button style="margin-left: 165px" class="waves-effect waves-purple btn">关注</button>
    </div><br>
    头像预览：
    <div>
        大：<img class="z-depth-1" style="width: 192px;height: 192px;" src="/static/avatar/{{ othuser.avatar }}">
        中：<img class="z-depth-1" style="width: 128px;height: 128px;" src="/static/avatar/{{ othuser.avatar }}">
        小：<img class="z-depth-1" style="width: 64px;height: 64px;" src="/static/avatar/{{ othuser.avatar }}">
    </div><br>

    <div class="input-field">
    <input disabled type="text" name="email" value="{{ othuser.email }}">
    <label for="email">E-mail</label>
    </div><br>
    <div class="input-field">
    <input disabled type="text" class="qq" name="qq" value="{{ othuser.qq }}"><br>
    <label for="qq">QQ</label>
    </div><br>
    <div class="input-field">
    <textarea disabled class="materialize-textarea signature" name="signature" length="100">{{ othuser.signature }}</textarea>
    <label for="signature">个性签名</label>
    </div>
    {% endif %}
</div>
{% endblock body %}
